body {
    background: white;
    margin: 0px;
    padding: 0px;
}

.portText{
    text-align: left;
    text-justify: auto;
    display: flex;
}
.card{
    margin-top: 5px;
}

.wer{
    text-align: right;
}
.wet{
    margin-top: 50px;    
}

.webtn{
<<<<<<< HEAD
    align-items: end;
}
=======
    padding-top: 30px;
}
>>>>>>> 20838992427be17e542d2a6e68b99b471b8a69b8

