body {
    background: white;
    margin: 0px;
    padding: 0px;
}

.portText{
    text-align: left;
    text-justify: auto;
}
.card{
    margin-top: 5px;
}

.wer{
    text-align: right;
}

.wet{
    padding-top: 35px;
}
.webtn{
    align-items: end;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}


