body html{
    background: white;
    margin: 0px;
    padding: 0px;
}

.portText{
    text-align: left;
    text-justify: auto;
    display: flex;
}
.card{
    margin-top: 5px;
}

.wer{
    text-align: right;
    text-align: justify;
}

.wet{
    padding-top: 35px;
}
.webtn{
    align-items: end;
    padding-top: 30px;
    padding-bottom: 10px;
}
