<!-- your html code here -->
<div class="row border-top border-bottom border-light-secondary">
    <div class="col-8 my-5">
        <h1 class="text-center">
            <span>First Heading Will </span>
            <span class="text-secondary">Catch Your Eye</span>
        </h1>
        <p class="text-center mx-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus temporibus
            recusandae ipsam eos repellat provident excepturi quae, suscipit sint fugit quis aspernatur quaerat dolore
            voluptas. Eligendi corrupti eum quos distinctio.</p>
    </div>
    <div class="col-4 my-5"><img src="assets\img\1.jpg" style="width: 300px; height: auto"
            class="float-start img-fluid rounded-circle" alt=""></div>
</div>